body {
    background: black;
}
main {
    width: 410px;
    margin: 10em auto;
}
.container,
.board {
    display: inline-block;
}

.container {
    position: relative;
    width: 410px;
    height: 410px;

    border: 5px solid #757575;
    padding: 10px;
    border-radius: 50%;

}
main {
    /*position: relative;*/
    /*border: 5px solid black;
    border-radius: 50%;
    padding: 8px;
    width: 450px;
    height: 451px;*/
}

.box {
    position: absolute;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 2px solid #757575;
    /*margin: 2px;*/
    /*text-align: none;*/
}


.blue {
    /*background: #0277bd;*/
    border-bottom-left-radius: 100%;
    bottom: 10px;
    left: 10px;
    background: linear-gradient(#42a5f5, #1565c0);
    /*border-top-right-radius: 40%;*/
    /*margin-right: 23px;*/
}

.red {
    /*background: #c62828;*/
    border-top-right-radius: 100%;
    top: 10px;
    right: 10px;
    background: linear-gradient(
      #b71c1c, #f44336
    );
    /*border-bottom-left-radius: 40%;*/
}

.green {
    /*background: #388e3c ;*/

    border-bottom-right-radius: 100%;
    right: 10px;
    bottom: 10px;
    background: linear-gradient(
     #66bb6a, #2e7d32
    );
}

.yellow {
    border-top-left-radius: 100%;
    /*background: #cddc39;*/
    top: 10px;
    left: 10px;
    background: linear-gradient(#fbc02d, #fff176);
    /*border-bottom-right-radius: 40%;*/
    /*margin-right: 23px;*/
}

.center {
    position: absolute;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    top: 135px;
    left: 135px;
    border: 3px solid #424242;
    background: radial-gradient(#eceff1, #78909c);

}

section {
     /*border: 1px solid black;*/
     /*position: relative;*/
     position: absolute;
     bottom: 0;
}
.board {
    position: relative;
    width: 100%;
    margin-top: 2em;
    color: white;
}
.score {
    position: relative;
    display: inline-block;
    width: 45%;
}

.level,
.highscore {
    text-align: right;
}

h1 {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    position: absolute;
    left: 35px;
    top: 40px;
}



