body {
    background: #212121 ;
    font-family: 'Aldrich', sans-serif;
}
main {
    width: 410px;
    margin: 5em auto;
}
.container,
.board {
    display: inline-block;
}

.container {
    position: relative;
    width: 410px;
    height: 410px;
    border: 5px solid #757575;
    padding: 10px;
    border-radius: 50%;
}

.box {
    position: absolute;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 2px solid #757575;
}


.blue {
    border-bottom-left-radius: 100%;
    bottom: 10px;
    left: 10px;
    background: linear-gradient(#42a5f5, #1565c0);
}

.red {
    border-top-right-radius: 100%;
    top: 10px;
    right: 10px;
    background: linear-gradient(
      #b71c1c, #f44336
    );
}

.green {
    border-bottom-right-radius: 100%;
    right: 10px;
    bottom: 10px;
    background: linear-gradient(#66bb6a, #2e7d32);
}

.yellow {
    border-top-left-radius: 100%;
    top: 10px;
    left: 10px;
    background: linear-gradient(#fbc02d, #fff176);
}

.center {
    position: absolute;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    top: 135px;
    left: 135px;
    border: 3px solid #424242;
    background: radial-gradient(#eceff1, #78909c);

}

section {
     position: absolute;
     bottom: 0;
}

.board {
    position: relative;
    width: 100%;
    margin-top: 2em;
    color: white;
}

.score {
    position: relative;
    display: inline-block;
    width: 45%;
}

.level,
.lives {
    text-align: right;
    font-size: 20px;
}

.score:first-child {
    font-size: 2em;
}

h1 {
    position: absolute;
    left: 20px;
    top: 35px;
    font-size: 2em;
}

footer {
    margin-top: 9em;
    height: 20px;
    background: grey;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

a {
    text-decoration: none;
    margin-right: 5em;
    color: black;
}

a:last-child {
    margin-right: 0;
}

a:hover {
    color: #01579b;
}

/* zocial */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}



